.App {
  text-align: center;
}

.cardSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.cardImage {
  height: 100px;
  width: 100px;
}

.gameButton {
  background-color: #0054ff;
  border: none;
  padding: 10px 24px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 12px;
}

.gameButtons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.game {
  background-color: green;
  width: 70%;
  height: 500px;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.score {
  color: white
}

.card {
  flex: 1 0 0;
  overflow-x: hidden;
}

.card:last-child {
  flex: 0 0 auto;
}

.scoreBoard {
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.dealButton {
  width: 300px;
  height: 70px;
  border: none;
  background-image: radial-gradient(100% 100% at 100% 0, red 0, darkred 100%);
  font-weight: 800;
  font-family: inherit;
  font-size: larger;
  background-color: palevioletred;
  border-radius: 20px;
  color: white;
}

h1 {
  text-align: center;
  color: white
}